$first-font:"DM Serif Display";
$Second-font: 'DM Sans',
sans-serif;
$color-beige: beige;
$color-simigrey: #9ca3af;


@mixin linkedGit {
    font-size: 1.5rem;
    color:rgb(192, 192, 208);   
}

.linkedin{
    @include linkedGit;
}


.git{
    @include linkedGit;
}

.navbar {
    border-bottom: 1px solid grey;
}



.nav-link {
    font-family: $first-font;
    font-size: 29px;
}

.links {
    font-family: $Second-font;
    color: $color-beige;
    font-size: 20px;
}

.links:visited {
    color: $color-beige;
}

.links:hover {
    color: blue;
}

.navbar-toggler-icon {
    background-image: url(../images/download.svg) !important;
    font-size: 2rem;
    border: none;
}


.footer-h6 {
    font-family: $first-font;
    font-size: 72px;
}

.footer-p {
    font-family: $Second-font;
    font-size: 23px;
    color: grey;
}

.footer-email {
    font-family: $first-font;
    font-size: 40px;
    color: #f0ae4f !important;
}






@media screen and (min-width: 300px) and (max-width:500px) {

    .footer-email {
        font-size: 20px !important;
    }

    .footer-h6 {
        font-family: $first-font;
        font-size: 50px;
    }
    .links-LG {
        visibility: hidden;
    }
    
    

    
}

.rotated{
    transform: translateY(20px) rotate(-3deg);
}


.footer-links {
    font-family: $Second-font;
    font-size: 18px;

}

.footer-copyrights {
    font-family: $Second-font;
    font-size: 19px;
    color: $color-simigrey;
}

.footer-links:hover {
    color: $color-beige;
    cursor: pointer;
}

.lighting {
    color: $color-beige !important;
}

.name-font {
    font-family: $first-font;
    font-size: 70px;

}

.hello-font {
    font-family: $Second-font;
    font-size: 23px;
}

.frontend-font {
    font-family: $Second-font;
    font-size: 23px;
    color: $color-simigrey !important;
}

.btn-font {
    font-family: $Second-font;
    font-size: 18px;
}

.porto-font {
    font-family: $first-font;
    font-size: 64px;

}

.all-my {
    font-family: 'Homemade Apple', cursive;
    font-size: 40px;
}

.skills-words-all {
    font-family: $Second-font;

    font-size: 19px;
}

.progress {
    height: 0.25rem;
}

.about-font-1 {
    font-family: $first-font;
    font-size: 48px;
}

.about-font-2 {
    font-family: $Second-font;
    font-size: 19px;
}

.jobs {
    font-family: $first-font;
    font-size: 28px;
}

.negavtive{
    margin-top:-100px;
}
